#page1{    
    display: grid;               
    background: url(./assets/images/herobg.png) no-repeat center 30%;
    position: relative;
    /* margin-block: 20vh; */
    margin-top:192px;
    margin-bottom: 100px;

    @media screen and (width <=  1024px) {
        width: calc(100vw - 2rem);
        margin-inline: auto;
        height: auto;       
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;    
        align-items: center;
        overflow: hidden;
        
        h1{    
            font-size: 4rem;
            max-width: 20ch;
            text-align: center;
            letter-spacing: -2px;
            color: var(--sky-blue);
            opacity: 0;
          
            @media screen and (width <=  920px) {
                font-size: 3rem;
            }
        }
        p{
            font-size: 1.3rem;
        }
        p, h2{
            text-align: center; 
        }
    
        h2{
            display: flex;
            gap:30px;
            justify-content: center;
            white-space: nowrap;
            font-size: 1.5rem;

            @media screen and (width <=  450px) {
                flex-direction: column;
            }
            
            span:first-child{
                color:var(--sky-blue);
                opacity: 0;
            }
    
            span:nth-child(2){
                color:var(--violet);
                opacity: 0;
            }
            
            span:last-child{
                opacity: 0;
                color:var(--navy-blue);
            }
        }
    
    
        .main__CTA__btn{
            background-color: var(--violet);
            color:white;
            cursor: pointer;
            padding:1rem;
            border-radius: 8px;
            border:none; 
            padding: 1rem 2rem;
            white-space: nowrap;                     
        }
    
          
    }
    
    /* .scroll__helper{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        outline:2px solid var(--dull-gray);
        color: black;
        outline-offset: 10px;
        width:20px;
        height: 50px;
        text-align: center;
        border-radius: 10px;
        svg{
            animation: mouse 1s ease-in-out infinite;            
        }
    } */
    
   
}

@keyframes mouse {
    50%{
        transform: translateY(10px);
    }
    
}





#page2{
    min-width: 30ch;
    max-width:1200px;    
    margin-inline:auto;
    margin-bottom: 10vh;
    display: grid;
    
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: 
        "documentation documentation scheduling workforce"
        "inbox platform platform labs"
        "billing integrations integrations reminders"
        "reporting telehealth portal portal";
    
    @media screen and (width <=  1200px) {
        width: calc(100vw - 3rem);
    }

    @media screen and (width <=  1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(7, 100px);
        grid-template-areas: 
            "documentation  scheduling"
            "workforce inbox"
            "platform platform"
            "integrations integrations"            
            "labs billing"
            "portal reminders"
            "reporting telehealth";
        width: calc(100vw - 3rem);
    }

    .documentation, .scheduling, .workforce, 
    .inbox, .platform, .labs, .billing, 
    .integrations, .reminders, .reporting, 
    .telehealth, .portal{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        background-repeat: no-repeat;        
        background-position: center;
        /* outline: 1px solid rgba(0, 0, 0, 0.034); */
        border-radius: 8px;
        cursor: pointer;

        /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
         rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */

         
        box-shadow: 0px 0px 16.7px 5px rgba(0, 0, 0, 0.05);


         

        p{
            color: #003C65; 
            text-align: center;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #FFF;
            font-family: Manrope;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            pointer-events: none;
            transition: all 0.6s ease-in-out;
            
            @media screen and (width <=  1024px) {
                font-size: 1.2rem;
            }
        }

   
        
    }


    .hoveranimation{
        position: relative;
        overflow: hidden;
        isolation: isolate;
        background-image: none;
        span{
            position: absolute;
            width: 100%;
            height: 50%;           
            z-index: -1;
        }
       
        span:first-child{
            top: 0;
            left: 0;
        }

        span:last-child{
            bottom: 0;
            right: 0;
        }
        svg{
            display: none;
            position: absolute;
            inset: 0;
            left: 20px;
            top:50%;
            transform: translateY(-50%);
            pointer-events: none;


        }

        p{
            transition: all 0.6s ease-in-out;
        }

        &::before{
            content:"";
            position: absolute;
            z-index: -1;
            background-color: var(--navy-blue);
            aspect-ratio: 1;           
            width: 10%;
            border-radius: 50%;
            margin: auto;
            opacity: 0 ;
            transition: all 0.6s ease-in-out;

        }

        &:has(:first-child:hover)::before{
            transform: scale(30);
            top:0;
            opacity: 1;
        }

        &:has(:last-child:hover)::before{
            transform: scale(30);
            bottom:0;
            opacity: 1;
        }

        &:has(:first-child:hover) p, 
        &:has(:last-child:hover) p{
            color: white;
            transform: translateX(20px);            
        }

        &:has(:first-child:hover) svg, 
        &:has(:last-child:hover) svg{
            display: block;
            fill:white;
            
        }
       
    }

    .documentation{
        grid-area: documentation;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M9 2.00318V2H19.9978C20.5513 2 21 2.45531 21 2.9918V21.0082C21 21.556 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5501 3 20.9932V8L9 2.00318ZM5.82918 8H9V4.83086L5.82918 8ZM11 4V9C11 9.55228 10.5523 10 10 10H5V20H19V4H11Z'%3E%3C/path%3E%3C/svg%3E");
       
    }

    .scheduling{
        grid-area: scheduling;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z'%3E%3C/path%3E%3C/svg%3E");
    
    }

    .workforce{
        grid-area: workforce;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M2 22C2 17.5817 5.58172 14 10 14C14.4183 14 18 17.5817 18 22H16C16 18.6863 13.3137 16 10 16C6.68629 16 4 18.6863 4 22H2ZM10 13C6.685 13 4 10.315 4 7C4 3.685 6.685 1 10 1C13.315 1 16 3.685 16 7C16 10.315 13.315 13 10 13ZM10 11C12.21 11 14 9.21 14 7C14 4.79 12.21 3 10 3C7.79 3 6 4.79 6 7C6 9.21 7.79 11 10 11ZM18.2837 14.7028C21.0644 15.9561 23 18.752 23 22H21C21 19.564 19.5483 17.4671 17.4628 16.5271L18.2837 14.7028ZM17.5962 3.41321C19.5944 4.23703 21 6.20361 21 8.5C21 11.3702 18.8042 13.7252 16 13.9776V11.9646C17.6967 11.7222 19 10.264 19 8.5C19 7.11935 18.2016 5.92603 17.041 5.35635L17.5962 3.41321Z'%3E%3C/path%3E%3C/svg%3E");
    
    }

    .inbox{
        grid-area: inbox;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M21 3C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H21ZM7.41604 14H4V19H20V14H16.584C15.8124 15.7659 14.0503 17 12 17C9.94968 17 8.1876 15.7659 7.41604 14ZM20 5H4V12H9C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12H20V5Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .platform{        
        grid-area: platform;
        background-color: var(--violet);
        p{
            color:white;
            font-size: 2.2rem;
        }
    }   

    .labs{
        grid-area: labs;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M15.9994 2V4H14.9994V7.24291C14.9994 8.40051 15.2506 9.54432 15.7357 10.5954L20.017 19.8714C20.3641 20.6236 20.0358 21.5148 19.2836 21.8619C19.0865 21.9529 18.8721 22 18.655 22H5.34375C4.51532 22 3.84375 21.3284 3.84375 20.5C3.84375 20.2829 3.89085 20.0685 3.98181 19.8714L8.26306 10.5954C8.74816 9.54432 8.99939 8.40051 8.99939 7.24291V4H7.99939V2H15.9994ZM13.3873 10.0012H10.6115C10.5072 10.3644 10.3823 10.7221 10.2371 11.0724L10.079 11.4335L6.12439 20H17.8734L13.9198 11.4335C13.7054 10.9691 13.5276 10.4902 13.3873 10.0012ZM10.9994 7.24291C10.9994 7.49626 10.9898 7.7491 10.9706 8.00087H13.0282C13.0189 7.87982 13.0119 7.75852 13.0072 7.63704L12.9994 7.24291V4H10.9994V7.24291Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .billing{
        grid-area: billing;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M12.0049 22.0027C6.48204 22.0027 2.00488 17.5256 2.00488 12.0027C2.00488 6.4799 6.48204 2.00275 12.0049 2.00275C17.5277 2.00275 22.0049 6.4799 22.0049 12.0027C22.0049 17.5256 17.5277 22.0027 12.0049 22.0027ZM12.0049 20.0027C16.4232 20.0027 20.0049 16.421 20.0049 12.0027C20.0049 7.58447 16.4232 4.00275 12.0049 4.00275C7.5866 4.00275 4.00488 7.58447 4.00488 12.0027C4.00488 16.421 7.5866 20.0027 12.0049 20.0027ZM8.50488 14.0027H14.0049C14.281 14.0027 14.5049 13.7789 14.5049 13.5027C14.5049 13.2266 14.281 13.0027 14.0049 13.0027H10.0049C8.62417 13.0027 7.50488 11.8835 7.50488 10.5027C7.50488 9.12203 8.62417 8.00275 10.0049 8.00275H11.0049V6.00275H13.0049V8.00275H15.5049V10.0027H10.0049C9.72874 10.0027 9.50488 10.2266 9.50488 10.5027C9.50488 10.7789 9.72874 11.0027 10.0049 11.0027H14.0049C15.3856 11.0027 16.5049 12.122 16.5049 13.5027C16.5049 14.8835 15.3856 16.0027 14.0049 16.0027H13.0049V18.0027H11.0049V16.0027H8.50488V14.0027Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .integrations{        
        grid-area: integrations;
        flex-direction: column;
        row-gap: 10px;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap:1rem;
        }
    }

    .reminders{
        grid-area: reminders;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M20 17H22V19H2V17H4V10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10V17ZM18 17V10C18 6.68629 15.3137 4 12 4C8.68629 4 6 6.68629 6 10V17H18ZM9 21H15V23H9V21Z'%3E%3C/path%3E%3C/svg%3E");
    }   

    .reporting{
        grid-area: reporting;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M3 12H7V21H3V12ZM17 8H21V21H17V8ZM10 2H14V21H10V2Z'%3E%3C/path%3E%3C/svg%3E");
    }   

    .telehealth{
        grid-area: telehealth;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M9.36556 10.6821C10.302 12.3288 11.6712 13.698 13.3179 14.6344L14.2024 13.3961C14.4965 12.9845 15.0516 12.8573 15.4956 13.0998C16.9024 13.8683 18.4571 14.3353 20.0789 14.4637C20.599 14.5049 21 14.9389 21 15.4606V19.9234C21 20.4361 20.6122 20.8657 20.1022 20.9181C19.5723 20.9726 19.0377 21 18.5 21C9.93959 21 3 14.0604 3 5.5C3 4.96227 3.02742 4.42771 3.08189 3.89776C3.1343 3.38775 3.56394 3 4.07665 3H8.53942C9.0611 3 9.49513 3.40104 9.5363 3.92109C9.66467 5.54288 10.1317 7.09764 10.9002 8.50444C11.1427 8.9484 11.0155 9.50354 10.6039 9.79757L9.36556 10.6821ZM6.84425 10.0252L8.7442 8.66809C8.20547 7.50514 7.83628 6.27183 7.64727 5H5.00907C5.00303 5.16632 5 5.333 5 5.5C5 12.9558 11.0442 19 18.5 19C18.667 19 18.8337 18.997 19 18.9909V16.3527C17.7282 16.1637 16.4949 15.7945 15.3319 15.2558L13.9748 17.1558C13.4258 16.9425 12.8956 16.6915 12.3874 16.4061L12.3293 16.373C10.3697 15.2587 8.74134 13.6303 7.627 11.6707L7.59394 11.6126C7.30849 11.1044 7.05754 10.5742 6.84425 10.0252Z'%3E%3C/path%3E%3C/svg%3E");
    }

    .portal{
        grid-area: portal;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='72' height='72' fill='rgba(173,184,194,0.13)'%3E%3Cpath d='M14 14.252V16.3414C13.3744 16.1203 12.7013 16 12 16C8.68629 16 6 18.6863 6 22H4C4 17.5817 7.58172 14 12 14C12.6906 14 13.3608 14.0875 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11ZM18 17V14H20V17H23V19H20V22H18V19H15V17H18Z'%3E%3C/path%3E%3C/svg%3E");        
    }   


}


#page3{

    margin-bottom: 10vh;
    
    .container{        
        max-width: 1200px;        
        padding: 3rem;
        border-radius: 1rem;
        margin-inline: auto ;
        background-color: var(--navy-blue);
        @media screen and (width <=  1200px) {
            width: calc(100vw - 3rem);
        }
    }
    h2{
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.72px;
        @media screen and (width <=  920px) {
            text-align: left;
        }
    }

    p{
        color: #A8E8F9;
        text-align: center;
        font-family: Manrope;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 60ch;
        margin-inline: auto;
        padding:1rem 1rem 3rem 1rem;
        @media screen and (width <=  920px) {
            margin: 0;
            padding-left: 0;
            padding-bottom: 2rem;
            text-align: left;
            
        }
    }

    

    .cards{
        display: flex;        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;        
        margin-inline: auto;
        margin-block: 2rem;

        @media screen and (width <=  920px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            
        }
    }

    .cards > .card{
        display: flex;
        gap: 3rem;
        justify-content: flex-start;
        align-items: center;

        h3{
            color: white;
        }

        p{
            color: #28A8EA;
            font-family: Inter;
            font-size: 1.2rem;
            font-style: normal;
            text-align: left;
            line-height: 120%; /* 28.8px */
            padding:1rem 0 0 0;
            font-weight: normal;
            border: none;
        }

        @media screen and (width <=  920px) {
            
            flex-direction: column;
            align-items: unset;
            outline: 2px solid #257cc720;
            outline-offset: 10px;
            border-radius: 8px;
            gap:1.5rem;
            &:nth-child(2), &:last-child{
                img{ order: -1;}
            }

        }
    }

}

#page4{
    max-width: 1200px;        
    padding: 5rem 0;
    border-radius: 1rem;
    margin-inline: auto ;    
    border-radius: 1rem;
    margin-bottom: 10vh;

    h2{
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        max-width: 60ch;
        margin-inline: auto;
    }

    .logos{
        display: flex;        
        gap:0.5rem;
        justify-content: center;
        flex-wrap: wrap;
        img{
            mix-blend-mode: multiply;
        }
    }
    
}

#page5{
    margin: 10rem 0;
    position: relative;
    .capterra{
        position: relative;
        width: 100%;
        height: 600px;
        background: radial-gradient(56.69% 56.69% at 49.45% 16.38%, rgba(149, 76, 197, 0.20) 0%, rgba(255, 255, 255, 0.01) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .capterralogo{
        position: absolute;
        top:-15%;
        left: 50%;
        transform: translateX(-50%);
    }

    h2{
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
        max-width: 50ch;
        margin-inline: auto;
    }

    ul.ranking{
        list-style: none;
        display: flex;
        gap:3rem;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (width <=  920px) {
           
        }

        li{
            display: flex;
            flex-direction: column;
            gap:1rem;
            align-items: center;
            span.rank, label{
                font-family: "Manrope", sans-serif; ;
                font-weight: 500;
                color: #000;
                text-align: center;                
                font-size: 20px;                
                font-weight: 700;
                line-height: normal;
            }
            span.stars{
                display: flex;
                background-color: white;
                padding: 1rem;
                border-radius: 9999px;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
                            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

            }
           
        }


    }

    .carousel{

        width:60%;
        margin-inline:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:4rem;
        padding-block: 3rem;
        .slide{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            span{
                color:var(--dark-gray);
                
                &::before{
                    content: " -- ";
                }
            } 
        }

        .left__arrow, .right__arrow{
            cursor: pointer;
            width: 60px;            
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--dull-gray);
            display: grid;
            place-items: center;
            i{
                font-size: 2rem;
                color: var(--dark-gray);
            }
        }


    }

}



/* nav, section, main{
    outline:1px solid red;
    background-color: rgba(223, 151, 129, 0.219);
} */