
.sections__container{
    position: relative;
    min-width: 1200px;
    .lines{        
        width: 150px;
        position: absolute;
        top: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        svg{            
            path{
                stroke-width: 8px;
                stroke:  #64108C50;
            }
            path.purpleline{
                fill: none;
                stroke: #64108C;
                stroke-width: 3px;
                
            }                      
        }
    }

    h2{
        text-align: center;
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 36px;        
        padding-block: 3rem;        
        position: relative;                
        z-index: 2;
        background-color: #F8FAFB;
    }
}


.billingsection{    
    
    position: relative;        

    .content__wrapper{
        width: 1200px;        
        background-color: aliceblue;
        margin-inline: auto;       
        border: 1px solid #cccccc;
        border-radius: 1rem;
        
        
    }

    .content__wrapper.settings{
        background-color: transparent;
        margin-bottom: 3rem;
        background-image: linear-gradient(180deg, #eddbf89c 0%, #F8FAFB 100%);
    }

    .content{        
        max-width: 1200px;        
        padding: 5rem;
        margin-inline: auto;        
        display: grid;
        gap:100px;
        grid-template-columns: 1fr 1fr;
        
        
        > div{
            margin-right: 1.6rem;            
        }
        .left h3{
            display: flex;
            justify-content: flex-end;
            text-align: right;
            color: var(--navy-blue);
            font-size: 1.5rem;
            font-weight: 500;
        }

       h3+ul{
            margin-block:1rem;
        }

        .left.noicon h3{            
            justify-content: flex-start;
            text-align: left;

        }

        .right h3{
            justify-content: flex-start;
            color: var(--navy-blue);
            font-size: 1.5rem;
            font-weight: 500;
            
        }

        .left figure, 
        .right figure{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 50%;
            };
        }

        figure svg{
            animation: pulse 3s ease-in-out infinite;
            
            animation-range: 0% 100%;
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}



@keyframes pulse {
    0% {
      
    }
    50% {
        
        transform: scale(0.95) translate(-5px, 5px);
        
    }
    100% {
      
      
    }
  }